:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --background-color: #2f303a;
  --bgc-secondary-color: #f5f4fa;
  --primary-item-size: 30px;
  --secondary-item-size: 94px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-duration: 250ms;
}

body {
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* Спецификация */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  padding-left: 0;

  list-style: none;
}

[href] {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Контейнер */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heder-container {
  display: flex;
  align-items: center;
}

/* Хедер*/

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  background-color: var(--primary-white-color);
}

/* Логотип */

.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.logo-black {
  color: var(--primary-black-color);
}

.logo-white {
  color: var(--primary-white-color);
}

.logo-footer {
  display: block;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

/* Навигация */

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link {
  position: relative;
  transition: color var(--anim-duration) var(--cubic);

  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  border-radius: 2px;

  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

/* Контакты*/

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts-list:first-child {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;

  transition: color var(--anim-duration) var(--cubic);

  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-icons {
  fill: currentColor;

  margin-right: 10px;
}

/* Секция герой */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* Кнопка */

.button.primary {
  transition: color var(--anim-duration) var(--cubic),
    background-color var(--anim-duration) var(--cubic);

  display: flex;
  margin-top: var(--primary-item-size);
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}

/* Секция преимущества */

.section {
  padding-top: var(--secondary-item-size);
  padding-bottom: var(--secondary-item-size);

  background-color: var(--primary-white-color);
}

.section-list {
  display: flex;
}

.section-item {
  padding: 0;
}

.section-item:not(:last-child),
.team-img:not(:last-child) {
  margin-right: var(--primary-item-size);
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  border-radius: 4px;

  background-color: #f5f4fa;
}

.section-title {
  margin-top: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.section-text {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

/* Секция род деятельности */

.work {
  padding-top: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.work-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.work-list:last-child {
  padding-right: 0;
}

.work-thumb {
  position: relative;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

/* Секция команда */

.team {
  background-color: var(--bgc-secondary-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-img {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-item {
  padding-top: var(--primary-item-size);
  padding-bottom: var(--primary-item-size);
}

.team-list .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}

.team-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.icons-item:not(:last-child) {
  margin-right: 10px;
}

.team-link {
  transition: color var(--anim-duration) var(--cubic),
    background-color var(--anim-duration) var(--cubic);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
}

.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
}

.team-link:hover .social-links,
.team-link:focus .social-links {
  fill: var(--primary-white-color);
}

.social-links {
  transition: fill var(--anim-duration) var(--cubic);

  background-size: 20px;
  background-position: center;
  fill: #afb1b8;
}

.social-links:not(:last-child) {
  margin-right: 10px;
}

/* Секция постоянные клиенты */

.logo-list {
  display: flex;
  margin-top: 50px;
}

.logo-clients {
  transition: fill var(--anim-duration) var(--cubic);

  fill: #afb1b8;
}

.logo-item {
  width: 170px;
  height: 92px;
}

.logo-item:not(:last-child) {
  margin-right: 30px;
}

.logo-item > a {
  transition: border var(--anim-duration) var(--cubic);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.logo-item > a:hover,
.logo-item > a:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.logo-item > a:hover .logo-clients,
.logo-item > a:focus .logo-clients {
  transition: fill var(--anim-duration) var(--cubic);

  fill: var(--accent-color);
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-link {
  color: var(--primary-white-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:not(:first-child) {
  margin-top: 9px;
}

.join-group {
  margin-left: 70px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-white-color);
}

.icons-group {
  display: inline-flex;
  margin-top: 20px;
}

.join-link {
  transition: color var(--anim-duration) var(--cubic),
    background-color var(--anim-duration) var(--cubic);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-icons {
  fill: var(--primary-white-color);
}

.form {
  display: flex;
  margin-left: auto;
}

.container-form {
  display: flex;
  flex-direction: column;
}

.join.join-form {
  margin-bottom: 20px;
  margin-right: 10px;
}

.input-mail {
  display: flex;
  align-items: baseline;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--background-color);
}

.input-mail:placeholder-shown {
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.button-sub {
  display: flex;
  align-items: flex-end;
}

.btn-form {
  transition: background-color var(--anim-duration) var(--cubic);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.btn-form:hover,
.btn-form:focus {
  background-color: #188ce8;
}

.icon-form {
  margin-left: 10px;

  fill: var(--primary-white-color);
}

/* Cтили для страницы портфолио */

/* Кнопка */

.btn-list {
  display: flex;
  justify-content: center;
}

.button {
  transition: color var(--anim-duration) var(--cubic),
    background-color var(--anim-duration) var(--cubic);

  display: block;
  padding: 0;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--bgc-secondary-color);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  transition: box-shadow var(--anim-duration) var(--cubic), color var(--anim-duration) var(--cubic),
    background-color var(--anim-duration) var(--cubic);
}

/* Секция портфолио */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: -30px;
  margin-left: -30px;
}

.portfolio-item {
  margin-bottom: var(--primary-item-size);
  margin-left: var(--primary-item-size);
}

.portfolio-link {
  transition: box-shadow var(--anim-duration) var(--cubic);

  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .card-text,
.portfolio-link:focus .card-text {
  transform: translateY(0);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--anim-duration) var(--cubic);

  display: flex;
  padding: 63px 24px;

  line-height: 1.56;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.card-element {
  padding: 20px 24px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  color: var(--title-text-color);
}

.portfolio-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity var(--anim-duration) var(--cubic),
    visibility var(--anim-duration) var(--cubic);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--primary-white-color);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

/* .modal-form {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;
} */

.form-title {
  padding-top: 40px;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}
/* 
label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
} */

/* .input-user {
  position: relative;
}

svg.icon-user {
  position: absolute;
  bottom: 0;
  left: 0;
} */

/* .textarea {
  resize: none;
}

.button-form {
  margin-left: 0;

  line-height: 1.88;
  letter-spacing: 0.06em;
} */
